@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .h1 {
        @apply mb-4 text-2xl font-bold;
    }

    .h2 {
        @apply mb-2 text-lg font-bold;
    }

    .border-cool {
        @apply border-2 border-dark shadow-square;
    }
    .questiondesc {
        @apply pb-2
    }
    .card {
        @apply flex flex-col items-start justify-center;
        @apply border-cool rounded bg-gray-200;
        @apply p-4
    }

    .btn {
        @apply relative flex items-center justify-center gap-2;
        @apply z-10 mb-1 h-10 w-64 rounded px-2;
        @apply border-cool cursor-pointer bg-white;
        @apply font-semibold transition-all duration-300;
        @apply hover:text-pale disabled:pointer-events-none disabled:bg-pale disabled:opacity-90;

        &::before {
            @apply absolute inset-0 -z-10 w-0 bg-dark transition-[width] content-[""];
            @apply hover:w-full;
        }

        &.btn-sm {
            @apply h-8 w-auto text-sm;
        }

        &.btn-flat {
            @apply mb-0 shadow-none transition-shadow before:content-none;
            @apply hover:text-dark hover:shadow-square;
        }

        &.btn-destructive {
            @apply border-destructive before:bg-destructive;
            @apply hover:text-dark;
        }
    }

    .hr {
        @apply h-0.5 rounded bg-dark;
    }

    .label {
        @apply grid gap-1;
    }

    .input {
        @apply border-cool h-10 w-80 rounded bg-background;
    }

    .popup {
        @apply absolute left-0 right-0 w-max;
        @apply isolate -z-[9000] opacity-0;
    }

    .popup-arrow {
        @apply absolute -z-10 rotate-45;
        @apply h-3 w-3 rounded-sm bg-dark;
    }


    :root {
        --primary-color:#d9ebeb;
        --title-color: #1d6e6e;
        --main-color: #fff;
        --border-color: #1d6e6e;
        --color: #333;

        
    }

    .card {
        border-radius: 10px;
    }


  body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: var(--primary-color);
    color: var(--color);
    padding: 20px;
    margin: 0;
}

.sign-in-box {
    max-width: 700px; 
    margin: 30px auto;
    border-radius: 15px;
}

main, .main {
    max-width: 1150px; 
    margin: 30px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color); 
    padding: 45px 35px;
    border-color: var(--border-color);
}

.h1 {
    color: var(--title-color); 
    font-size: 2.5em;
    margin-bottom: 15px;
}

.h2 {
    color: var(--title-color); 
    font-size: 1.8em;
    margin-bottom: 10px;
}

.h3 {
    color: var(--title-color); 
    font-size: 1.4em;
    margin-bottom: 6px;
}

.side-by-side-btn {
    max-width: 100%;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px; 
}

table {
    border-collapse: collapse;
    width: 100%; 
    margin-bottom: 20px;
}



th, td {
    border: 1px solid var(--color);
    padding: 10px;
    text-align: center;
}

  
}